
<!--顧客の退会確認画面-->


<h4>本当に退会しますか？</h4>



<h6>退会すると、会員登録情報や</h6>
<h6>これまでの購入履歴が閲覧できなくなります。</h6>
<h6>退会する場合は、「退会する」をクリックしてください。</h6>

<%= link_to "退会しない", customers_infomation_edit_path %><%= link_to "退会する", customers_withdraw_path %>