<h1>Admin::Customers#edit</h1>
<p>Find me in app/views/admin/customers/edit.html.erb</p>
<!--顧客編集画面-->
<h1>山田花子さんの会員情報編集</h1>
<%= form_with model: @customer do |f| %>

<table>
  <tbody>
    <tr>
      <th>会員ID</th>
    </tr>
    <tr>
      <th>氏名</th>
    </tr>
    <tr>
      <th>フリガナ</th>
    </tr>
    <tr>
      <th>郵便番号</th>
    </tr>
    <tr>
      <th>住所</th>
    </tr>
    <tr>
      <th>電話番号</th>
    </tr>
    <tr>
      <th>メールアドレス</th>
    </tr>
    <tr>
      <th>会員ステータス</th>
      <th><%= f.radio_button :is_deleted_method, "有効" %>有効<%= f.radio_button :is_deleted_method, "退会" %>退会</th>
    </tr>
  </tbody>
</table>

  <!--変更を保存　ボタン-->
  <p><%= f.subumit '変更を保存'%></p>

  <% end %>