<h1>Admin::Customers#show</h1>
<p>Find me in app/views/admin/customers/show.html.erb</p>
<!--顧客詳細画面-->
<h1>山田花子さんの会員詳細</h1>

<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>フリガナ</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>メールアドレス</th>
      <th>会員ステータス</th>
    </tr>
  </thead>

  <!--編集する　ボタン-->
  <!--注文履歴一覧を見る　ボタン-->