<h1>Admin::Genres#index</h1>
<p>Find me in app/views/admin/genres/index.html.erb</p>
<h2>ジャンル一覧・追加</h2>

<p>ジャンル名</p>
<!--ジャンル名　枠-->
<!--新規登録ボタン-->

<table>
  <tbody>
    <tr>
      <th>ジャンル</th>
      <!--ファイル選択　画像-->
    </tr>
    <tr>
      <th>商品名</th>
      <!--商品名の枠-->
    </tr>
     <tr>
      <th>商品説明</th>
      <!--商品説明の枠-->
    </tr>
     <tr>
      <th>ジャンル</th>
      <!--ジャンル選択の枠-->
    </tr>
    <tr>
      <th>税抜価格</th>
      <!--金額入力の枠-->
    </tr>
    <tr>
      <th>販売ステータス</th>
      <!--販売中と販売停止中の枠-->
    </tr>
  </tbody>
</table>