<h1>Public::CartItems#index</h1>
<p>Find me in app/views/public/cart_items/index.html.erb</p>
<!--カート内商品一覧画面（数量変更・カート削除の要素を含む）-->
<h3>ショッピングカート</h3>       <%= link_to 'カートを空にする'," /cart_items/:id" %>



<% end %>