<h1>Public::Orders#show</h1>
<p>Find me in app/views/public/orders/show.html.erb</p>
<!--注文履歴詳細画面-->
<h2>注文履歴詳細</h2>
<table>
  <thead>
    <tr>
      <th>購入者</th>
      <th>注文日</th>
      <th>配送先</th>
      <th>支払方法</th>
      <th>注文ステータス</th>
    </tr>
  </thead>