" <h1>#Public::Items#index</h1>
" <p>#Find me in app/views/public/items/index.html.erb</p>

<h2>商品一覧</h2> <h4>(全x件)</h4>
<% @items.each do |item| %>

<%= link_to item_path(item.id) do %>
<%= image_tag item.get_image(200,200) %>
<% end %>
<%= item.name %>
<%= item.price %>


<% end %>
